$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$vp-font: 'Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif';
$vp-font-heading: 'Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif';
